body {
    font-family: Arial, sans-serif;
    margin: 30px;
}

form input, button {
    margin: 5px;
    padding: 6px;
}

table {
    margin-top: 20px;
    border-collapse: collapse;
    width: 100%;
}

table, th, td {
    border: 1px solid black;
    padding: 8px;
}

button {
    cursor: pointer;
}
